    <nav>
      <img
        class="img_logo"
        src="/asset/logo/logo.png"
        alt="logo"
      ></img>
      <ul class="menu" id="tog_menu">
        <li>
          <a href="/cl/des">Destinasi</a>
        </li>
        <li>
          <a href="/cl/about">About</a>
        </li>
      </ul>

      <div class="bur_Menu">
        <div class="bur_Menu_Line">
          <span id="sp_One"></span>
          <span id="sp_Two"></span>
          <span id="sp_Three"></span>
        </div>
        <input
          type="checkbox"
          id="chb_Bur_Menu"
          class="chb_Menu"
          onClick={hendlerClick}
        ></input>
      </div>
    </nav>

