<div class="con_custom">
  <div class="con_custom_item" id="logdiv">
    <div class="image_Logdiv">
      <img src="asset/logo/logowhite.png" alt="foto" />
    </div>
    <div class="con_Logdiv">
      <h1 class="h_log">Login</h1>
      <form method="post" action="/" class="frm_log">
        <div class="mb-3">
          <label for="username" class="form-label"
            ><i class="bi bi-person"></i> Username</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            aria-describedby="emailHelp"
            placeholder="@example : ras_12yah"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            ><i class="bi bi-lock"></i> Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="......."
            required
          />
        </div>
        <button type="submit" class="btn btn-outline-dark">
          <!-- <a href="/dashboard" style="color: white"> Login</a> -->
          Login
        </button>
        <!-- <a href="" class="btn btn-primary" id="reg">Sign Up </a> -->
        <button type="button" class="btn btn-outline-dark" id="btnReg">
          <!-- <a href="/dashboard" style="color: white"> Login</a> -->
          Sign Up
        </button>
      </form>
      <h6 style="color: red; text-align: center"><%=info%></h6>
    </div>
  </div>

  <div class="con_custom_item" id="regdiv">
    <div class="image_Regdiv">
      <img src="asset/logo/logowhite.png" alt="" />
    </div>
    <div class="con_Regdiv">
      <h1 class="h_log">Registration</h1>
      <form method="post" action="/regis" class="frm_reg">
        <div class="mb-2">
          <input
            type="hidden"
            class="form-control"
            id="idDes"
            name="idDes"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-2">
          <label for="nameUser" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameUser"
            name="nameUser"
            placeholder="Ras...."
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-2">
          <label for="emailUser" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="emailUser"
            name="emailUser"
            placeholder="@Example Ras.....@gmail.com"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-2">
          <label for="phoneUser" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phoneUser"
            name="phoneUser"
            placeholder="085201199817"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-2">
          <label for="usernameUser" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="usernameUser"
            name="usernameUser"
            placeholder="ras...."
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-2">
          <label for="passUser" class="form-label">Password</label>
          <input
            type="text"
            class="form-control"
            name="passUser"
            placeholder="........"
            id="passUser"
            required
          />
        </div>
        <div class="mb-2">
          <label for="confirmPass" class="form-label">Confirm Password</label>
          <input
            type="text"
            class="form-control"
            name="confirmPass"
            placeholder="......"
            id="confirmPass"
            required
          />
        </div>

        <button type="submit" class="btn btn-outline-dark">Registration</button>
        <button type="button" class="btn btn-outline-dark" id="btnLog">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
