.cont_About {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_About img {
  width: 50%;
}

.cont_About .resume_App {
  width: 90%;
}

@media (max-width: 748px) {
  .cont_About img {
    width: 70%;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}
