.profile_cont {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_cont .user_profile {
  width: 50%;
}
.profile_cont .user_profile h2 {
  text-align: center;
}
