.btn_btn {
  display: flex;
  gap: 2px;
}
.btn_btn a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.btn_btn a:nth-child(1) {
  width: 5vw;
  background-color: orange;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 1vw;
  padding: 2px 0px;
  color: white;
}
.btn_btn a:nth-child(2) {
  width: 5vw;
  background-color: green;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 1vw;
  padding: 2px 0px;
  color: white;
}
.btn_btn a:nth-child(3) {
  width: 5vw;
  background-color: red;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 1vw;
  padding: 2px 0px;
  color: white;
}
