* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
.h_log {
  text-align: center;
  padding: 20px;
  color: rgb(56, 56, 56);
  animation-name: h_loganimated;
  animation-duration: 2s;
  animation-delay: 1;
  animation-fill-mode: forwards;
}

.con_custom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Setting Page Login */
.con_custom_item:first-child {
  width: 100%;
  position: absolute;
  display: flex;
  gap: 10px;
  opacity: 1;
}
.con_custom_item:first-child .image_Logdiv {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-top-left-radius: 50px;
  padding: 10px;
  background-color: rgb(56, 56, 56);
}
.con_custom_item:first-child .image_Logdiv img {
  width: 40vw;
}
.con_custom_item:first-child .con_Logdiv {
  width: 60vw;
  z-index: 1;
}
.frm_log {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation-name: formanim;
  animation-duration: 2s;
  animation-delay: 1;
  animation-fill-mode: forwards;
}

/* Setting Page Registri */
.con_custom_item:last-child {
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.con_custom_item:last-child .image_Regdiv {
  background-color: rgb(56, 56, 56);
  display: flex;
  align-items: center;
  padding: 10px;
  border-top-right-radius: 50px;
}
.con_custom_item:last-child .image_Regdiv img {
  width: 40vw;
}

.con_custom_item:last-child .con_Regdiv {
  width: 100vw;
}

.frm_reg {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* =====Animated=== */

/* text head */
@keyframes h_loganimated {
  0% {
    margin-bottom: 500px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

/*form*/
@keyframes formanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For page login and Registration */
@keyframes logDiv {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes regDiv {
  0% {
    margin-right: -500px;
  }
  100% {
    margin-right: 0;
  }
}

/* Responsive */
@media (max-width: 530px) {
  .con_custom {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  /* Setting page login */
  .con_custom_item:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .con_custom_item:first-child .image_Logdiv {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
    justify-content: center;
  }
  .con_custom_item:first-child .image_Logdiv img {
    width: 50vw;
  }
  .con_custom_item:first-child .con_Logdiv {
    width: 100%;
  }

  /* Setting page Registration */
  .con_custom_item:last-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .con_custom_item:last-child .image_Regdiv {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
    justify-content: center;
  }
  .con_custom_item:last-child .image_Regdiv img {
    width: 50vw;
  }
  .con_custom_item:last-child .con_Regdiv {
    width: 100%;
  }
}
