.con_det {
  display: flex;
  overflow: hidden;
  gap: 10vw;
}
.con_det .con_det_item img {
  width: 60vw;
  height: 86.5vh;
  border-radius: 40% 20% 50% 30%;
  -webkit-border-radius: 40% 20% 50% 30%;
  -moz-border-radius: 40% 20% 50% 30%;
  -ms-border-radius: 40% 20% 50% 30%;
  -o-border-radius: 40% 20% 50% 30%;
  margin-left: -25vw;
  filter: drop-shadow(10px 20px 20px black);
  -webkit-filter: drop-shadow(10px 20px 20px black);
  transition: 1s;
}

.con_det .con_det_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
/* Setting Head */
.con_det .con_det_item .det_head {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.con_det .con_det_item .det_head h1 {
  font-size: 4vw;
  transition: 1s;
}
.con_det .con_det_item .det_head p {
  font-size: 1vw;
  text-align: justify;
  transition: 1s;
}

/* Setting Button */
.con_det .con_det_item .det_btn {
  width: 100%;
  display: flex;
  gap: 3vw;
}
.con_det .con_det_item .det_btn a:first-child {
  background-color: green;
  color: white;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-decoration: none;
}
.con_det .con_det_item .det_btn a:last-child {
  background-color: blue;
  color: white;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-decoration: none;
}

@media screen and (max-width: 414px) {
  .con_det {
    flex-direction: column;
  }
  .con_det .con_det_item img {
    width: 100vw;
    height: 60vh;
    filter: drop-shadow(0px 10px 6px black);
    -webkit-filter: drop-shadow(0px 10px 6px black);
    margin-left: -1vw;
    border-radius: 0px 0px 100px 100px;
    -webkit-border-radius: 0px 0px 100px 100px;
    -moz-border-radius: 0px 0px 100px 100px;
    -ms-border-radius: 0px 0px 100px 100px;
    -o-border-radius: 0px 0px 100px 100px;
  }
  .con_det .con_det_item .det_head h1 {
    font-size: 6vw;
    text-align: center;
  }
  .con_det .con_det_item .det_head p {
    font-size: 3vw;
    text-align: justify;
  }
  .con_det .con_det_item .det_btn {
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }
  .con_det .con_det_item .det_btn a:first-child {
    font-size: 3vw;
  }
  .con_det .con_det_item .det_btn a:last-child {
    font-size: 3vw;
  }
}
