/* Setting Carousel Image */
.img-h {
  height: 80vh;
}

.recomended h2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.recomended .con_recom {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3vw;
  gap: 3vh;
}

.recomended .con_recom .item_recom {
  display: flex;
  width: 100%;
}

.recomended .con_recom .item_recom img {
  height: 40vh;
}

.recomended .con_recom .item_recom .h_recom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  color: white;
  padding: 2vw;
}

.recomended .con_recom .item_recom .h_recom p {
  text-align: justify;
  font-size: 1vw;
}

/* Setting Button recomendasi */
.recomended .con_recom .item_recom .h_recom .btn_recom {
  border-radius: 50px;
  background-color: green;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.recomended .con_recom .item_recom .h_recom .btn_recom:hover {
  box-shadow: 5px 5px 5px white;
}

.recomended .con_recom .item_recom .h_recom .btn_recom a {
  text-decoration: none;
  color: white;
  text-align: center;
}
