<div class="search_Container">
      <div class="src_space"></div>
      <h1 class="container mb-5" style="text-align: center;">Semua <small style="color: orange;">Destinasi</small></h1>
      <form  method="post"  class="src_form_container" action="/<%=name%>/des/search ">
        <input name="namedes" id="namedes"></input>
        <button type="submit" class="btn btn-outline-dark">
          <i class="bi bi-search"></i> Seacrh
        </button>
      </form>
    </div>

