<article>
  <div class="det_cont">
    <figure>
      <img src="../../asset/logo/logo.png" alt="foto_wisata" />
    </figure>
    <figcaption>
      <h5>Nama Wisata</h5>
      <p><i class="bi bi-geo-alt"></i> Lokasi</p>
      <p>Failitas</p>
    </figcaption>
  </div>
  <div class="det_explain">
    <div class="exp">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
        consequatur quia nostrum nobis similique assumenda aliquid sint, animi
        enim non. Nemo, possimus. Placeat quam fuga nihil omnis unde cum
        explicabo! Adipisci totam blanditiis non eum cupiditate ex repellendus
        dicta fugiat consectetur modi autem quos quas provident, voluptas illo
        optio officiis fuga quasi commodi temporibus dolorum amet accusantium
        dolore quis. Nihil? Laudantium nostrum cupiditate vel temporibus ratione
        asperiores quisquam ipsam omnis ullam doloremque fuga similique unde
        molestias harum veniam reiciendis quam aspernatur quidem in nisi,
        deserunt obcaecati numquam illo. Magni, ea. Reiciendis, ut non ipsum
        culpa porro nam dicta veritatis veniam aspernatur adipisci quisquam
        fugiat ab mollitia illum? Non, nihil.
      </p>
    </div>
  </div>
</article>
