@media (max-width: 540px) {
  .head_container {
    width: 100%;
    height: 25vh;
    overflow: hidden;
  }

  .head_container .carousel .carousel-inner .carousel-item img {
    height: 25vh;
    object-fit: cover;
  }
}
