<div class="content_cont">
  <h1 class="content_h">Top Destination Outside <b>Muna Island</b></h1>
  <div class="content_item_cont">
    <img src="" alt="" />
    <div class="conten_item">
      <ul>
        <li class="list_content"></li>
      </ul>
    </div>
  </div>
</div>
