
    <article class="article_Container">
      <div class="recomdes_container">
        <div class="recomdes_head">
          <h1>Recomendation <b>Destination</b></h1>
          <p>This Recomendation Destination For you !</p>
        </div>
        <ul class="recomdes">
          <li class="recomdes_item">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/1.jpg"
              alt="Ini Foto Destinasi"
            ></img>
            <div class="recomdes_Item_Tittle">
              <h1>Nama Destinasi</h1>
              <p class="recomdes_Item_Explain">
                Destinasi Ini berada di salah satu lokasi yang terdapat di
                sultra
              </p>
              <div class="recomdes_Item_btn">
                <a href="/us/des/detail" class="btn btn-success">Detail</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="galery_play">
        <div class="galery_auto_play">
          <div class="g_play_first">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/1.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/2.jpg"
              alt=""
            ></img>
          </div>
          <div class="g_play_second">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/3.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/2.jpg"
              alt=""
            ></img>
          </div>
          <div class="g_play_first">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/3.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/1.jpg"
              alt=""
            ></img>
          </div>
          <div class="g_play_second">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/3.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/1.jpg"
              alt=""
            ></img>
          </div>
          <div class="g_play_first">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/2.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/3.jpg"
              alt=""
            ></img>
          </div>
          <div class="g_play_second">
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/1.jpg"
              alt=""
            ></img>
            <img
              src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/main/photo/2.jpg"
              alt=""
            ></img>
          </div>
        </div>
      </div>
    </article>

