<div class="content_cont">
  <div class="content_h">
    <h1 class="content_tittle">Top Destinasi Diluar <b>Pulau Muna</b></h1>
    <p class="content_explain">Ini adalah Top Destinasi Di luar Pulau Muna</p>
  </div>
  <div class="content_item_cont">
    <div class="img_content">
      <img
        src="https://raw.githubusercontent.com/Rasyahodhe/24001107_44_Lao_munaDestination_Challenge-Gold/develop/photo/content/turis.png"
        alt="gambar turis"
      />
    </div>

    <div class="content_item">
      <ul>
        <li class="list_content">
          <div class="list_content_tittle">
            <img
              src="https://www.gotravelly.com/assets/img/review/gallery/16/3db1a1699a5638a68c5410e12346ac2c.jpg"
              alt="Pantai Nirwana"
            />
            <h6>Pantai Nirwana</h6>
          </div>
          <p>Pantai Dengan Pasir Putih Bersih dan Indah</p>
          <a class="link_a" href="https://www.pantaipedia.com/pantai-nirwana/"
            >See More</a
          >
        </li>
        <li class="list_content">
          <div class="list_content_tittle">
            <img
              src="https://www.lajur.co/wp-content/uploads/2023/06/IMG-20230610-WA0007-1536x1152.jpg"
              alt="Pantai Labobo"
            />
            <h6>Pantai Labobo</h6>
          </div>
          <p>
            Pantai yang memiliki banyak pohon kelapa yang terasa sejuk dan
            tenang
          </p>
          <a
            class="link_a"
            href="https://haluoleonews.id/selamat-berkunjung-pesona-memukau-pantai-labobo-di-desa-balobone-buteng/"
            >See More</a
          >
        </li>
        <li class="list_content">
          <div class="list_content_tittle">
            <img
              src="https://jadesta.kemenparekraf.go.id/imgpost/29020.jpg"
              alt="Benteng Kraton"
            />
            <h6>Benteng Kraton</h6>
          </div>
          <p>Peninggalan Dimasa Kerajaan Buton</p>
          <a
            class="link_a"
            href="https://jadesta.kemenparekraf.go.id/atraksi/berkunjung_ke_benteng_keraton_buton_benteng_wolio"
            >See More</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
