.search_Container {
  width: 100%;
}

.search_Container .src_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.search_Container input {
  width: 80%;
  height: 30px;
  border: 1px solid blue;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
