<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/client/all_Style.css" />
    <link rel="stylesheet" href="/client/style/boostrap/boostrap.css" />

    <title><%= title%></title>
  </head>
  <body>
    <div class="space"></div>
    <%- body %>
  </body>
  <script src="/client/script/scr_Navbar.js"></script>
</html>
