<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylebootsrap/bootstrap.css" />
    <link rel="stylesheet" href="/styleCustomAdmin/styleAll.css" />

    <title><%= title%></title>
  </head>
  <body>
    <div class="container"><%- body %></div>
  </body>
  <script src="/script/script.js"></script>
  <script src="/script/bootstrap.bundle.min.js"></script>
  <script src="/script/scriptCustom/scriptLogin.js"></script>
</html>
