navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

navbar .menu {
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  gap: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  height: 50px;
  padding-right: 20px;
}

navbar .menu li {
  cursor: pointer;
  text-align: start;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

navbar .menu li a {
  text-decoration: none;
  color: black;
}
navbar .menu li:hover a {
  color: green;
}

.img_logo {
  margin-left: 20px;
  width: 50px;
}

/* Setting Form */
.frm_Search {
  display: flex;
  gap: 10px;
}

.frm_Search input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1;
}

.frm_Search button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 0;
}

/* Setting Menu Toggle */
.bur_Menu {
  position: absolute;
  right: 0;
  top: 30%;
  height: 20px;
  margin-right: 20px;
}

/* Setting Line Menu */
.bur_Menu .bur_Menu_Line {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
}

.bur_Menu .bur_Menu_Line span {
  width: 20px;
  border: 1px solid black;
  opacity: 0;
}
/* =================================================== */
.bur_Menu .chb_Menu {
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20%;
  left: -15%;
  opacity: 0;
}

/* Settiing Responsive */
@media (max-width: 480px) {
  navbar {
    position: relative;
    box-sizing: border-box;
    background-color: aquamarine;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .img_logo {
    width: 50px;
  }
  /* Setting Toggle Menu */
  navbar .menu {
    opacity: 0;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 0;
    top: 70%;
  }
  /* Setting toggle */
  navbar .menu.active {
    opacity: 1;
  }
  /* Setting Line Menu */
  .bur_Menu .bur_Menu_Line span {
    opacity: 1;
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .bur_Menu .bur_Menu_Line span:nth-child(1).active {
    rotate: 40deg;
    transform: translateY(5px) translateX(3px);
    -webkit-transform: translateY(5px) translateX(3px);
    -moz-transform: translateY(5px) translateX(3px);
    -ms-transform: translateY(5px) translateX(3px);
    -o-transform: translateY(5px) translateX(3px);
  }
  .bur_Menu .bur_Menu_Line span:nth-child(2).active {
    opacity: 0;
  }
  .bur_Menu .bur_Menu_Line span:nth-child(3).active {
    transform: translateY(-5px) translateX(3px);
    -webkit-transform: translateY(-5px) translateX(3px);
    -moz-transform: translateY(-5px) translateX(3px);
    -ms-transform: translateY(-5px) translateX(3px);
    -o-transform: translateY(-5px) translateX(3px);
    rotate: -40deg;
  }
}
