<h1><%=header%></h1>
<div class="container">
  <form method="post" action="/ad/dash/add">
    <div class="mb-3">
      <label for="idDes" class="form-label">ID Destination</label>
      <input
        type="text"
        class="form-control"
        id="idDes"
        name="idDes"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="namaDes" class="form-label">Destination Name</label>
      <input
        type="text"
        class="form-control"
        id="namaDes"
        name="namaDes"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
      />
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01"
        >Upload Image</label
      >
      <input type="file" class="form-control" id="inputGroupFile01" />
    </div>
    <div class="mb-3">
      <label for="aboutdes" class="form-label">About Destination</label>
      <textarea
        id="aboutdes"
        class="form-control"
        name="aboutdes"
        rows="5"
        cols="50"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
