<div class="con_dash">
  <div class="header_dash">
    <h1 class="h_dash">Ini halaman Dashboard</h1>
  </div>
  <div class="con_menu">
    <div class="menu">
      <img
        src="https://th.bing.com/th/id/OIP.fj8Bqkd9eeDRQTJMr4YnIwHaHa?rs=1&pid=ImgDetMain"
        alt="admin"
        class="img_menu"
      />

      <ul class="con_itemmenu">
        <li><a href="/adddata">Add Data</a></li>
        <li><a href="/showalldata">Show All Data</a></li>
      </ul>
    </div>
    <div class="showMenu"></div>
  </div>
</div>
