<div class="con_dash">
  <div class="header_dash">
    <h1 class="h_dash">Dashboard</h1>
  </div>
  <div class="con_menu">
    <div class="menu">
      <img
        src="https://th.bing.com/th/id/OIP.fj8Bqkd9eeDRQTJMr4YnIwHaHa?rs=1&pid=ImgDetMain"
        alt="admin"
        class="img_menu"
      />
      <ul class="con_itemmenu">
        <h4 style="background-color: white">Destination</h4>
        <li><a href="/dashboard/adddata">Add Data Destination</a></li>
        <li><a href="/dashboard/showalldata">Show All Data Destination</a></li>
        <li>
          <a href="/dashboard/showalldata">Add Data Recomended Destination</a>
        </li>
      </ul>
    </div>
    <div class="showMenu"><%- include(menu) %></div>
  </div>
</div>
