article {
  width: 100%;
  height: fit-content;
}

article .det_cont {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
article .det_cont figure img {
  width: 50vw;
}

article .det_cont figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .det_cont figcaption hr {
  width: 400px;
}
article .det_cont figcaption p:nth-child(4) {
  font-size: 12px;
}

/* Bagian Explain */
article .det_explain {
  display: flex;
  justify-content: center;
}

article .det_explain div {
  width: 70%;
}

article .det_explain .exp {
  padding: 20px;
}
article .det_explain .exp p {
  text-align: justify;
}

@media (max-width: 800px) {
  article .det_cont {
    align-items: center;
    justify-content: center;
  }
  article .det_explain {
    flex-direction: column;
    gap: 2vh;
    align-items: center;
  }
  article .det_explain {
    width: 100%;
  }
  article .det_explain div {
    width: 70%;
  }
}
