<div class="cont_About">
  <img src="/asset/logo/logo.png" alt="logo" />
  <div class="resume_App">
    <h4>Created By : R_Devteam</h4>
    <h5>Explained :</h5>
    <div class="explain">
      <p>
        Website Ini di buat untuk memberikan informasi tentang wisata apa saja
        yang terdapat di Kabupaten Muna, Sulawesi Tenggara. <br />
        mengapa website ini dibuat ?<br />
        Alasan website ini buat dikarenakan wisata-wisata di kabupaten muna
        banyak belum diketahui oleh banyak wisatawan local ataupun manca
        negara,jadi harapan di buatnya website ini adalah untuk memberikan
        informasi kepada para wisatawan local ataupun manca negara bahwa ada
        wisata-wisata yang belum terjamah di salah satu wilayah dindonesia yang
        dimana wilayah itu adalah wilayah kabupaten muna.
      </p>
    </div>
    <h5>Fitur :</h5>
    <div class="fitur">
      <p>
        Di karenakan Website ini baru dibuat versi 0.1 maka fiturnya belum
        banyak dimana fiturnya hanya berupa mesin pencarian wisata dikabupaten
        muna, tetapi pengembangan website ini tidak akan berhenti begitu saja
        kami R_DevTeam akan selalu mencoba mengembangkan website ini agar
        menjadi lebih dinamis dengan memiliki banyak fitur yang dapat membantu
        banyak wisatawan dalam mencari informasi wisata.
      </p>
    </div>
  </div>
</div>
