<div class="all_con_container">
  <%- include("./subHome/subCon_Header.ejs") %>
  <br />
  <%- include("./subHome/subCon_Recomen.ejs") %>
  <br />
  <hr />
  <%-include("./subHome/subCon_Content.ejs")%>
  <hr />
</div>
