<footer>
  <div class="map_menu">
    <div class="map_menu_item">
      <h5>Wisata Air</h5>
      <ul>
        <li><a href="/us/des/detail/1">Pantai Meleura</a></li>
        <li><a href="">Pantai Napabhale</a></li>
        <li><a href="">Pantai Mutiara</a></li>
        <li><a href="">Pantai Kenangan</a></li>
      </ul>
    </div>
    <div class="map_menu_item">
      <h5>Wisata Darat</h5>
      <ul>
        <li><a href="">Puncak Lakude</a></li>
        <li><a href="">Puncak Wakila</a></li>
        <li><a href="">Puncak Napabhale</a></li>
      </ul>
    </div>
    <div class="map_menu_item">
      <h5>Media Social</h5>
      <ul>
        <li>
          <a href=""><i class="bi bi-instagram"></i> Instagram</a>
        </li>
        <li>
          <a href=""><i class="bi bi-whatsapp"></i> Whatsapp</a>
        </li>
        <li>
          <a href=""><i class="bi bi-twitter"></i> Twitter</a>
        </li>
        <li>
          <a href=""><i class="bi bi-facebook"></i> Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
