<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/client/style/boostrap/boostrap.css" />
    <link rel="stylesheet" href="/login/style/style.css" />

    <title><%= title%></title>
  </head>
  <body>
    <div class="container"><%- body %></div>
  </body>
  <script src="/login/script/script.js"></script>
  <script src="/login/script/bootstrap.bundle.js"></script>
</html>
